
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-size: cover;
	background-image: url("bg1.jpg");
	background-position: center;

}

#myCanvas{
   border-style: ridge;
   background-color: white;

}
span{
	font-size: 20px;
}
